# IntelliJ Idea
out/
.idea/
*.iml
*.ipr
*.iws

#Maven
target/

# Eclipse
.classpath
.project
.settings/
.metadata/

# Android Studio Navigation editor temp files
.navigation/

# OS X
*~
.DS_Store
.vscode
*.log

# Windows
Thumbs.db
